dist: bionic

os:
#  - linux
#  - osx
  - windows

language: cpp

compiler:
  - gcc

before_install:
  ############################################################################
  # All the dependencies are installed in ${HOME}/deps/
  ############################################################################
#  - DEPS_DIR="${HOME}/deps"
#  - mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}

  ############################################################################
  # Install CMake
  ############################################################################
  #- CMAKE_URL="https://cmake.org/files/v3.14/cmake-3.14.7-Linux-x86_64.tar.gz"
  #- mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
  #- export PATH=${DEPS_DIR}/cmake/bin:${PATH}
  - |
    if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      DEPS_DIR="${HOME}/deps"
      mkdir -p ${DEPS_DIR} && cd ${DEPS_DIR}
      CMAKE_URL="https://cmake.org/files/v3.14/cmake-3.14.7-Linux-x86_64.tar.gz"
      mkdir cmake && travis_retry wget --no-check-certificate --quiet -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake
      export PATH=${DEPS_DIR}/cmake/bin:${PATH}
      cd "${TRAVIS_BUILD_DIR}"
    fi
#    else
#      brew install cmake || brew upgrade cmake
#    fi
  - cmake --version

  ############################################################################
  # Install Bazel
  ############################################################################
  - export PATH=$PATH:$HOME/bin && mkdir -p $HOME/bin
  # install bazelisk as bazel to install the appropriate bazel version
  - wget https://github.com/bazelbuild/bazelisk/releases/download/v1.5.0/bazelisk-linux-amd64 && chmod +x bazelisk-linux-amd64 && mv bazelisk-linux-amd64 $HOME/bin/bazel
  - wget https://github.com/bazelbuild/buildtools/releases/download/0.22.0/buildifier && chmod +x buildifier && mv buildifier $HOME/bin/

install:
  ############################################################################
  # Go back to the root of the project and setup the build directory
  ############################################################################
  - cd "${TRAVIS_BUILD_DIR}"
  - (mkdir build && cd build && cmake ..)

  ############################################################################
  # Set up CMake
  ############################################################################
  # Ensure we are in correct folder
  #- cd "${TRAVIS_BUILD_DIR}"
  # create a build folder for the out-of-source build
#  - |
#    if [ ! -d "build" ]; then
#      mkdir build
#    else
#      ls -la build
#    fi
  # switch to build directory
#  - cd build
  # run cmake; here we assume that the project's
  # top-level CMakeLists.txt is located at '..'
#  - cmake ..

script:
  ############################################################################
  # Execute CMake
  ############################################################################
  # once CMake has done its job we just build using make as usual
  - make
  # run the example program
  - ./examples/Example
  # Back to root folder
  - cd "${TRAVIS_BUILD_DIR}"
  ############################################################################
  # Execute Bazel with tests
  ############################################################################
  - bazel test ...
